.list__title {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.list__value {
  padding: 16px 0;
  font-size: 0.8rem;
  color: lightgray;
}

.ant-row.icons__list {
  flex-direction: row;
}

.ant-list {
  width: 100%;
}

.data__item {
  color: rgb(133, 129, 129);
  font-size: 10px;
}
