.user-calendar .ant-radio-group {
  display: none;
}

.ant-badge-status-success {
  background-color: #e0529c;
}

.calendar-modal .ant-modal-title {
  color: #e0529c;
}

.ant-picker-calendar-date-content{
  overflow: hidden;
}
