.list__title {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.list__value {
  padding-top: 10px;
  font-size: 0.8rem;
  color: lightgray;
}

.ant-row.icons__list {
  flex-direction: row;
}

.ant-list {
  width: 100%;
}
